*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-height: 90vh;
    padding-bottom: 90px;
}

ul {
    position: static;
    background-color: #333;
    text-align: center;
  }

  li{
    color: rgb(211, 211, 211);  
    padding: 30px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;  
  }

  li:hover{
    background-color: rgb(65, 65, 65);;
  }

h1{
    margin-left: 50px;
    margin-top: 30px;
    display: inline-block;
}

h3{
    margin: 30px 0px 0px 50px;
    display: block;
}

p{
    margin: 2px 0px 0px 50px;
    display: inline-block;
}

footer{
    padding: 30px;
    position: absolute;
    width: 100%;
    min-height: 5%;
    bottom: 0;
    color: rgb(198, 200, 202);
    text-align: center;
    background-color: rgb(20, 20, 20);
}

/* Div's */

div{
    display: inline-block;
}

div#eco{
    display: inline-block;
    position: absolute;
    left: 2.5%;
    top: 10%;
    margin-right: 2%;
    padding-bottom: 50vh;
    width: 60vw;
    background-color: rgb(233, 233, 233);
}

div#noti{
    top: 10%;
    position: absolute;
    left: 65%;
    padding-bottom: 45vh;
    margin-right: 10%;
    display: inline-block;
    background-color: rgb(185, 210, 226);
}